---
import DarkThemeSwitch from "@/components/molecules/DarkThemeSwitch";
import LangSwitch from "@/components/molecules/LangSwitch";
import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
---

<nav class="flex justify-between w-full bg-blend-color py-4 print:hidden">
  <DarkThemeSwitch locale={locale} client:load />
  <LangSwitch locale={locale} client:load />
</nav>
