---
import ProfilePic from "@/assets/profilePic.jpg";
import Typography from "@/components/atoms/Typography";
import { Image } from "astro:assets";
interface HeroProps {
  name?: string;
  position?: string;
  role?: string;
}
const { name, position, role }: HeroProps = Astro.props;
---

<section class="w-full flex items-start justify-start gap-4">
  <Image
    src={ProfilePic}
    alt="profile picture"
    class="w-64 h-fit rounded-xl shadow-xl"
  />
  <div class="flex flex-col">
    <Typography tag="h1" text={name} variant="label1" />
    <Typography tag="p" text={position} variant="label5" />
  </div>
</section>
