---
import Header from "@/components/organism/Header";
const title = "Leo Risco FrontEnd Dev";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full w-full flex items-start justify-center">
    <section
      class="w-full flex flex-col items-center justify-center max-w-screen-2xl"
    >
      <Header />
      <slot />
    </section>
  </body>
</html>
