---
import Header from "@/components/organism/Header";
import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
const title = "Leo Risco FrontEnd Dev";
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="h-full w-full flex items-start justify-center">
    <section
      class="w-full flex flex-col items-center justify-center max-w-screen-lg"
    >
      <Header />
      <slot />
    </section>
  </body>
</html>
<script>
  // Handler Dark Theme
  const theme = localStorage.getItem("theme");
  if (theme === "dark") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
